@import url('https://fonts.googleapis.com/css?family=Rozha+One:400|Poppins:400');

html {font-size:16px;}

p {margin-bottom: 1.25em;
margin-left: 2em;
margin-right: 2em;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Rozha One', serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 4.052em;
}

h2 {font-size: 1.9em;}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

.p {
  align: center;
  text-align: center;
  font-size: 20px;
}
